body {
     margin: 0 auto;
     padding: 0;
     font: 14px Arial sans-serif;
     font-weight: 200;
 }
header {
    margin: 10px;
}

header .right-menu {
    list-style: none;
    float: right;
}
form {
    display: block;
    float: left;
    margin-right: 10%;
}
form .form-container {
    margin: 10px;

}
form .form-container li {
    display: block;
    min-height: 50px;
    width: 50px;
}

